.App {
  text-align: center;
}

.App-header {
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  background-color: #61dafb;
}

label{
  padding: 15px;
}

button{
  border-radius: 20%;
  padding: 15px;
  font-size: medium;
}

